Input {
	dock: bottom;
	border: round grey;
	background: black;
}

Markdown {
	background: black;
	height: auto;       /* Grow to fit content */
    	min-height: 1;      /* Never be shorter than 5 rows */
}

Markdown.model {
	border: round red;
}

Markdown.user {
	border: round blue;
}

RuGPT {
	background: black;
}

Header {
	dock: top;
	background: black;
}

LocalChat {
	background: black;
}



