Input {
	height: 3;
	dock: bottom;
	border: round grey;
	background: black;
}

Markdown {
	background: black;
	height: auto;       /* Grow to fit content */
    	min-height: 1;      /* Never be shorter than 5 rows */
}

LoadingIndicator {
	dock: bottom;
	height: 3;
	background: black;
}

ScrollableContainer {
	scrollbar-gutter: stable;
	scrollbar-size: 1 1;
	scrollbar-color: grey;
	background: black;
}

Markdown.model {
	border: round red;
}

Markdown.user {
	border: round blue;
}

Header {
	dock: top;
	background: black;
}


